
.cont {
    width: 100%; /* O ajusta según sea necesario */
    height: 332px; /* Cambia este valor para ajustar la altura */
    max-width: 100%;
    border: 3px solid rgba(250, 250, 250, 0.1);
    margin: 0 auto;
    border-radius: 1rem;
    position: relative;
}

.row {
    display: flex;
    justify-content: flex-start; /* Alineación a la izquierda o ajusta como necesites */
}


.glass-effect {
    background-color: rgba(0, 0, 0, 0.2); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque en el fondo */
    border-radius: 1rem;
    padding: 10px;
}

.form-label {
    color: rgb(255 255 255);
    text-align: center;
}

.form-control, .form-select {
    border: 1px solid rgb(0, 183, 197);
    transition: border-color 0.3s;
    border-radius: 15px;
}

    .form-control:focus, .form-select:focus {
        border-color: rgb(255, 109, 58);
        box-shadow: rgba(255, 109, 58, 0.5) 0px 0px 5px;
    }

.btn {
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    margin: 5px;
}
