@page "/Ciudades/Edit/{CiudadId:int}"
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer
<link rel="stylesheet" href="/Estilos/Viajes/Crear.css" />

@inject CiudadServices CiudadService
@inject NavigationManager NavigationManager

<PageTitle>Crear Ciudades</PageTitle>

<EditForm Model="CiudadesDto" OnValidSubmit="Guardar" FormName="CreatCiudades">
	<DataAnnotationsValidator />
	<div class="overlay"></div>

	<div class="container">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<h2> Registrar Ciudades</h2>
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label class="form-label">Nombre de ciudad</label>
					<InputText class="form-control" @bind-Value="CiudadesDto.Nombre" />
					<ValidationMessage For="@(() => CiudadesDto.Nombre)" />
				</div>
			</div>
			<div class=" card-footer">
				<a href="/" class="btn btn-light bi bi-arrow-left-square">Volver</a>
				<button type="submit" class="btn btn-Guardar ">Guardar</button>
			</div>
		</div>
	</div>
</EditForm>

@code {
	[Parameter]
	public int CiudadId { get; set; }
	public CiudadesDto CiudadesDto { get; set; } = new();
	protected override async Task OnInitializedAsync()
	{
		CiudadesDto = await CiudadService.Buscar(CiudadId);
	}

	public async Task Guardar()
	{
		await CiudadService.Guardar(CiudadesDto);
		NavigationManager.NavigateTo("/");
	}

}