@page "/9"
@rendermode InteractiveServer
@inject ViajeServices ViajeService

<div class="hero-section">
    @if (!Viajes.Imagenes.Any())
    {
        var imagenes = Viajes.Imagenes.FirstOrDefault();
        <img src="@imagenes.ImagenUrl" alt="@imagenes.Alt" class="img-fluid" />
        <div class="overlay">
            <h1>@imagenes.Titulo</h1>
            <button>Suscribirse</button>
        </div>
    }
</div>

@code {
    public ViajesDto Viajes { get; set; } = new ViajesDto();

    protected override async Task OnInitializedAsync()
    {
        Viajes = await ViajeService.Buscar(1);
    }

}  