@page "/pago/{ReservacionId:int}"
@inject ReservacionesServices reservacionesServices
@inject PagosServices pagosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer
<link rel="stylesheet" href="/Estilos/Viajes/ViajesDetalles.css" />

<EditForm Model="PagoDto" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <div class="overlay">
            <div class="detalles-container">
                <div class="card-header">
                    <h5 class="card-title">Realizar Pago</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label fs-5">Codigo de la reservacion:  </label>
                            <label class="form-label fs-5 "><strong>@ReservacionDto.ReservacionId.ToString()</strong></label>
                        </div>
                        <div class="col-12">
                            <label class="form-label fs-5">Monto a pagar:  </label>
                            <label class="form-label fs-5 "><strong>DOP$ @ReservacionDto.Monto.ToString()</strong></label>
                        </div>
                    </div>
                   
                    @*Formulario*@
                    <div class="row mb-3 align-items-center">
                        @* Número de Tarjeta*@
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Número de tarjeta:</label>
                            <InputText type="password"
                                       class="form-control"
                                       @bind-Value="numeroTarjeta"
                                       placeholder="Ingrese su número de tarjeta">
                            </InputText>
                        </div>

                        @*Monto*@
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Monto:</label>
                            <InputNumber class="form-control"
                                         @bind-Value="PagoDto.Monto"
                                         placeholder="DOP$ 0.00">
                            </InputNumber>
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success mt-2">Guardar</button>
                        <a href="/" class="btn btn-light bi bi-arrow-left-square "> Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
@if (esValido.HasValue)
{
    <div class="mt-3">
        @if (esValido.Value)
        {
            <div class="alert alert-success">El número de tarjeta es válido.</div>
        }
        else
        {
            <div class="alert alert-danger">El número de tarjeta no es válido.</div>
        }
    </div>
}



@code {
    [Parameter]
    public int ReservacionId { get; set; }

    public ReservacionesDto ReservacionDto { get; set; } = new ReservacionesDto();
    public PagosDto PagoDto { get; set; } = new PagosDto();

    private string numeroTarjeta { get; set; } = string.Empty;
    private bool? esValido;
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ReservacionDto = await reservacionesServices.Buscar(ReservacionId);
        if(ReservacionDto.EstadoId == 1 || ReservacionDto.EstadoId == 3)
        {
            Mensaje = "La reservacion aun no ha sido aceptada";
            //agregar una notificacion y un tiempo antes de volver al inicio
            navigationManager.NavigateTo("/");
        }
    }

    private void Validar()
    {
        esValido = ValidarNumeroTarjeta(numeroTarjeta);
    }

    public bool ValidarNumeroTarjeta(string numeroTarjeta)
    {
        numeroTarjeta = numeroTarjeta.Replace(" ", "");

        if (numeroTarjeta.Length < 13 || numeroTarjeta.Length > 19 || !numeroTarjeta.All(char.IsDigit))
        {
            return false;
        }

        int suma = 0;
        bool esPar = false;

        for (int i = numeroTarjeta.Length - 1; i >= 0; i--)
        {
            int digito = int.Parse(numeroTarjeta[i].ToString());

            if (esPar)
            {
                digito *= 2;

                if (digito > 9)
                {
                    digito -= 9;
                }
            }

            suma += digito;
            esPar = !esPar;
        }

        return suma % 10 == 0;
    }

    private async Task<bool> ValidarExistencia()
    {
        var valido = await pagosServices.ExistePago(PagoDto.PagoId, PagoDto.ReservacionId);
        return valido;
    }


    private async Task Guardar()
    {
        Validar();
        if (esValido.HasValue)
        {
            if(PagoDto.Monto > ReservacionDto.Monto || PagoDto.Monto < ReservacionDto.Monto)
            {
                Mensaje = "El monto no es el correcto, por favor verifique el precio de la recervacion.";
            }
            else
            {
                if (await ValidarExistencia())
                {
                    Mensaje = "Ya existe un pago para esta reservacion";
                    return;
                }
                PagoDto.ReservacionId = ReservacionDto.ReservacionId;
                PagoDto.Fecha = DateTime.Now;
                var realizado = await pagosServices.Guardar(PagoDto);
                ReservacionDto.Pago = true;
                var actualizar = await reservacionesServices.Guardar(ReservacionDto);

                if (realizado == true && actualizar == true)
                {
                    Mensaje = "Pago realizado.";
                    navigationManager.NavigateTo("#");
                }
                else
                {
                    Mensaje = "No se pudo realizar el pago. Intentelo de nuevo.";
                }
            }
        }
        

    }
}
