@page "/"
@rendermode InteractiveServer
<link rel="stylesheet" href="/EstiloCSS/Login/HomeLogin.css" />


<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>ReyAI Transport</h2>
        </div>
        <div class="card-body">
            <div class="image-section">
                <img src="/Imagenes/LogoAR.png" alt="Logo ReyAI Transport" />
            </div>
            <div class="form-section">
                <h1>¡Empezemos esta aventura!</h1>
                <a href="/Account/SingIn" class="btn btn-outline-primary">Iniciar Sesion</a>
                <a href="/Account/LogIn" class="btn btn-outline-primary">Registrar Usuario</a>
            </div>
        </div>
    </div>

</div>

@code {
}