@page "/Account/SingIn"
@rendermode InteractiveServer
@inject NavigationManager Navigation
<link rel="stylesheet" href="/EstiloCSS/Login/SingIn.css" />


<PageTitle>Iniciar Sesi&oacute;n</PageTitle>

<EditForm Model="ClienteDto" OnSubmit="Iniciar">
	
	<div class="container shadow-lg">
		<div class="card shadow-lg" style="width: 800px">
			<div class="image-section">
				<div class="line-decorator"></div>
				<img src="/Imagenes/LogoAR.png" width="900" />
				<div class="line-decorator"></div>
			</div>
		</div>
		<div class="card shadow-lg" style="width: 800px">
			<div class="form-section">
				<div class="line-decorator"></div>
				<div class="image-top">
					<img src="/Imagenes/ImagenSuperiorLogin.png" width="193" />
				</div>
				<div class="form-group">
					<InputText class="form-control" @bind-Value="ClienteDto.NickName" placeholder="Nickname"></InputText>
					<ValidationMessage For="@(() => ClienteDto.NickName)" />
				</div>
				<div class="form-group">
					<InputText type="password" class="form-control" @bind-Value="ClienteDto.Password" placeholder="Contraseña"></InputText>
					<ValidationMessage For="@(() => ClienteDto.Password)" />
				</div>
				<button type="submit" class="btn btn-outline">
					Iniciar sesión
				</button>
				<button type="button" @onclick="Cancelar" class="btn">
					Cancelar
				</button>
				<div class="line-decorator"></div>
			</div>
		</div>
	</div>
</EditForm>

@code {
	ClientesDto ClienteDto { get; set; } = new ClientesDto();

	public void Iniciar()
	{
		// Lógica de inicio de sesión
	}
	private void Cancelar()
	{
		Navigation.NavigateTo("/");
	}
}
