@page "/"
<link rel="stylesheet" href="/Estilos/IniciarSesion/Home.css" />

<div class="container">
	<div class="overlay">
		<div class="text-section">
			<h1 class="main-title">Conoce tu país</h1>
			<h1 class="main-title">con nosotros</h1>
			<a href="/Viajes/ViajesDisponible" class="cta-button">¡Explora Ahora!</a>
		</div>
		<div class="mt-5">
			<CreateViajesRapido />
		</div>
	</div>
</div>

@code {

}
